<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MisasMinerSetup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <MisasMinerSetup.Properties.Settings>
            <setting name="Pool" serializeAs="String">
                <value />
            </setting>
            <setting name="Wallet" serializeAs="String">
                <value />
            </setting>
            <setting name="Inten" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="nFac" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="l" serializeAs="String">
                <value />
            </setting>
            <setting name="setx2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="setx3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="setx4" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="setx5" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="temp" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="selectedgap" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="selectedPool" serializeAs="String">
                <value />
            </setting>
        </MisasMinerSetup.Properties.Settings>
        <WpfApplication1.Properties.Settings>
            <setting name="Pool" serializeAs="String">
                <value />
            </setting>
            <setting name="Wallet" serializeAs="String">
                <value />
            </setting>
            <setting name="Inten" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nFac" serializeAs="String">
                <value>0</value>
            </setting>
        </WpfApplication1.Properties.Settings>
    </userSettings>
</configuration>